.features-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 70px;
    background-color: #ededed;
    margin: 0;
    
    
  }
  
  .feature {
    text-align: center;
  }
  
  .feature img {
    width: 72px; 
    height: 72px;
    transition: transform 0.3s ease;
  }
  /* Animation on hover */
.feature:hover img {
  animation: imgHover 0.5s forwards; /* Apply the hover animation */
}
/* Keyframe animations */
@keyframes imgHover {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1); 
  }
}

/* Media query for mobile scrolling */
@media screen and (max-width: 768px) {
  .feature img {
    animation: imgScroll 1s infinite alternate; 
  }

  /* Keyframe animation for mobile scrolling */
  @keyframes imgScroll {
    0% {
      transform: translateY(0); /* Initial position */
    }
    100% {
      transform: translateY(10px); /* Move down slightly for scrolling effect */
    }
  }
}
  
  .green-button {
    width: 292px;
    height: 66px;
    font-size: 24px;
    display: block;
    padding: 0px 20px;
    background-color: #0A7212;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px auto;
    position: relative;
    top: 50px;
    left: 500px;
    transition: transform 0.3s ease; /* Add a transition for smooth animation */
  }
  
  /* Animation on hover */
  .green-button:hover {
    animation: buttonHover 0.5s forwards; /* Apply the hover animation */
    background-color:  #111511;
    
  }
  
  /* Animation on click */
  .green-button:active {
    animation: buttonClick 0.1s forwards; /* Apply the click animation */
  }
  
  /* Keyframe animations */
  @keyframes buttonHover {
    0% {
      transform: scale(1); /* Initial scale */
    }
    50% {
      transform: scale(1.1); /* Scale up on hover */
    }
    100% {
      transform: scale(1); /* Return to original scale */
    }
  }
  
  @keyframes buttonClick {
    0% {
      transform: translateY(0); /* Initial position */
    }
    100% {
      transform: translateY(2px); /* Move down slightly on click */
    }
  }
  

  