.footer-section {
  background-color: #064A0C;
  padding: 50px 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
}

.footer-row {
  margin-bottom: 0px;
}
.footer-row-1 {
  padding: 20px;
  margin-left: -20px;
}
.footer-logo {
  width: 260.699px;
  margin-left: 20px;
}

.google-download-button,
.apple-download-button {
  background-color: #064A0C;
  color: #064A0C;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.download-image:hover {
  opacity: 0.8;
}

.social-media-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.social-media-icons img:last-child {
  margin-right: 0;
}

.footer-column h4 {
  margin-bottom: 50px;
  font-size: 30px;
}

.footer-column p {
  margin: 20px 0;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* For viewport of 393px */
@media screen and (max-width: 393px) {
  .footer-section {
    flex-direction: column; /* Arrange items in a column */
    padding: 20px; /* Adjust padding */
    align-items: center; /* Center-align items */
  }

  .footer-column {
    flex: 1;
    margin-bottom: 20px; /* Add margin between columns */
    text-align: center; /* Center-align text */
  }

  .footer-row {
    margin-bottom: 20px; /* Add margin between rows */
  }

  .footer-logo {
    width: 200px; /* Adjust logo width */
  }

  .google-download-button,
  .apple-download-button {
    display: block; /* Make buttons block-level elements */
    width: 180px; /* Set button width */
    margin: 0 auto; /* Center-align the buttons */
    text-align: center; /* Center-align button text */
    margin-right: 90px;
  }

  .social-media-icons img {
    margin-right: 10px; /* Add margin between social media icons */
  }

  .horizontal-line {
    width: 100%; /* Set horizontal line width */
    border-top: 2px solid #ffffff; /* Adjust line color and style */
    margin: 20px 0; /* Add margin above and below the line */
  }
}
