.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
}

.logo img {
  width: 240.26px;
  height: 92.16px;
}

.navigation {
  flex-grow: 1;
  text-align: center;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: #000;
}

.nav-list li:last-child {
  margin-right: 0;
}

.download-btn {
  background-color: #0a7212;
  color: var(--main-whte, #fcfbfb);
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 209px;
  height: 58px;
}

.download-btn:hover {
  background-color: #052609;
}

/* Media query for screens up to 767px width (mobile) */
@media screen and (max-width: 896px) {
  .menu-icon {
    display: block;
  }

  .navigation {
    overflow: hidden;
    position: relative;
    background-color: #fcfbfb;
    
  }

  .navigation .nav-list  {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;;
  }
 .nav-list.active{
  width: 270px;
 }

 .nav-list ul{
  display: flex;
  flex-direction: column;
 }
  .nav-list ul li {
   margin-left: unset;
   margin-top: 22px;
  }

  .download-btn {
    width: auto;
    height: auto;
    padding: 10px 20px;
    position: static;
    margin-top: 10px;
    left: auto;
    top: auto;
  }

  .show-menu .navigation {
    display: flex;
  }
}

/* Media query for screens from 768px to 1023px width (tablet) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-list {
    text-align: center;
  }
}

/* Media query for screens from 1024px width and above (desktop) */
@media screen and (min-width: 1024px) {
  .menu-icon {
    display: none;
  }

  .navigation {
    display: flex;
  }
}

/* Media query for screens up to 393px width (mobile) */
@media screen and (max-width: 896px) {
  .header {
    padding: 10px; /* Adjust padding for smaller screens */
  }


  .menu-icon {
    display: block; /* Ensure hamburger menu icon is visible */
    position: relative;
    left: 350px;
    top: 40px;
  }
.show-menu{
  display: block;
}

.navigation {
  overflow: hidden;
  position: relative;
  background-color: whitesmoke;
  
}
  .logo img {
    width: 150px; /* Adjust logo size for smaller screens */
    height: auto;
  }

  .download-btn {
    display: inline-block; /* Ensure download button is visible */
    margin-left: auto; /* Push download button to the right */
    position: relative;
    right: 60px;
  }
}
