/* LearningAidSection.css */

.learning-aid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px);
    gap: 20px;
    padding: 50px;
    
  }
  
  .grid-1 {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: border-radius 0.3s ease, box-shadow 0.3s ease;
  }
  .grid-1:hover {
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(255, 165, 0, 0.5);
}
  .grid-content {
    padding: 100px;
    margin: -20px;
    font-family: Raleway;
    line-height: 39px;
    
    
    
    
  }
  .grid-content-h3{
    padding: 230px;
    margin: 20px -170px;
    color:#ffffff;
    font-size: 20px;
    
    
  }
  .yellow-line {
    width: 20%;
    height: 5px;
    background-color: #ffd800;
    margin-bottom: 10px;
  }
  
  .grid h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .heading-learn{
    font-size: 30px;
  }
  .grid p {
    font-size: 16px;
  }
  
  .green-button-2 {
    background-color: #0a7212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 308px;
    height: 60px;
  }
  
  .green-button-2:hover {
    background-color: #075b0b;
  }
  
  .grid.active {
    border: 2px solid #ffa500;
  }
  
  /* LearningAidSection.css - Viewport size 393px */

/* General styles */
@media screen and (max-width: 896px) {
  .learning-aid-section {
      grid-template-columns: 1fr; /* Set one column for smaller screens */
      grid-template-rows: auto; /* Auto rows */
      gap: 20px;
      padding: 20px; /* Adjust padding for smaller screens */
  }

  .grid-1 {
      width: 100%; /* Set full width for each grid item */
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      transition: border-radius 0.3s ease, box-shadow 0.3s ease;
      margin-bottom: 20px; /* Add margin between grid items */
  }
  
  .grid-content {
      padding: 20px; /* Adjust padding for smaller screens */
      margin: 0; /* Reset margin */
      font-family: Raleway;
      line-height: 1.6;
  }
  
  .grid-content-h3 {
      padding: 20px; /* Adjust padding for smaller screens */
      margin: 0; /* Reset margin */
      color: #ffffff;
      font-size: 20px;
      text-align: center; /* Center-align text */
  }
  
  .yellow-line {
      width: 20%;
      height: 5px;
      background-color: #ffd800;
      margin: 10px auto; /* Center-align line */
  }
  
  .grid h3 {
      font-size: 20px;
      margin-bottom: 10px;
      text-align: center; /* Center-align text */
  }
  
  .grid p {
      font-size: 10px; /* Decrease font size for smaller screens */
      text-align: center; /* Center-align text */
  }
  
  .green-button-2 {
      width: 100%; /* Set full width for button */
      padding: 10px 20px;
      font-size: 20px;
  }
}
